strong Are you sure you want your donation to be anonymous? 
| Leaving your donation public gives you a better reputation.
br
br
| Besides that, the amount you donated will never be disclosed to any one but the project owner (who will always know who you are), even if your donation is public.
