<div id="page_content">
	<div class="media_content_backers">
		<ul class="collection_list">
			<% for donation in @charity.donations %>
			<% user = User.find(donation.user_id) unless donation.user_id == nil %>
			<li>
				<div class="backer_avatar">
				<% if donation.anonymous == false %>
					<%= image_tag user.uploaded_image.thumb_avatar.url || user.image_url || user.gravatar_url || '/assets/user.png' %>
				<% else %>
					<%= image_tag '/assets/user.png' %>
				<% end %>
				</div>
				<div class="back_info">
				<span id="text" style="float: left;">
					<% if donation.anonymous == true %>
						Anonymous
					<% elsif donation.user_id == nil %>
						Guest
					<% else %>
						<%= link_to(user.name,user_path(user)) %>
					<% end %>
					</span>
					<span style="float: right; margin-right: -25px;"><%= "#{number_to_currency(donation.amount, unit: Charity.find(donation.charity_id).currency_symbol)} " %></span><br><br>
					<div id="confirmed">
						Donated on <%= donation.created_at.strftime("%d/%m/%Y") %>.
					</div>
					<div id="backed">
						<% if (user.donations.count + user.donators.count) == 1 %>
							Donated only to this cause so far.
						<% else %>
							Donated to this and <%= (user.donations.count + user.donators.count) - 1 %> other causes.
						<% end %>
					</div>
				</div>
				<% if donation.comment != "" %>
					<div class="comment" style="padding-left:20px; font-weight: bold;"><%= donation.comment %></div>
				<% end %>
			</li>
			<% end %>
		</ul>
	</div>
</div>