<div id="page_content">
	<div class="media_content_backers">
		<ul class="collection_list">
			<% for donation in @charity.donations %>
			<% user = User.find(donation.user_id) unless donation.user_id == nil %>
			<li>
				<div class="backer_avatar">
					<%= image_tag user.uploaded_image.thumb_avatar.url || user.image_url || user.gravatar_url || '/assets/user.png' %>
				</div>
				<div class="back_info">
				<span id="text">
					<% if donation.anonymous == true %>
						Anonymous
					<% elsif donation.user_id == nil %>
						Guest
					<% else %>
						<%= link_to(user.name,user_path(user)) %>
					<% end %>
					</span>
					<span style="float: right;"><%= "#{number_to_currency(donation.amount, unit: Charity.find(donation.charity_id).currency_symbol)} " %></span><br><br>
					<div id="confirmed">
						<%= donation.created_at %>
					</div>
					<div id="backed">
						<% if (user.donations.count + user.donators.count) == 1 %>
							Donated only to this charity so far.
						<% else %>
							Donated to this and <%= (user.donations.count + user.donators.count) - 1 %> other projects and charities.
						<% end %>
					</div>
				</div>
				<div class="comment"><i><%= donation.comment %></i></div>
			</li>
			<% end %>
		</ul>
	</div>
</div>