<div class="error_page" style="width: 600px; padding:50px; margin:auto">
    <img src="assets/catarse/logo-600.png"></img>
    <h1 style="padding:20px;text-align:center;font-family:Arial;font-weight:700;font-size:28px;color:#333;">We're sorry...</h1>
    <p style="font-family:Arial;font-size:16px;color:#333;text-align:center;">The page you are looking for cannot be found.</p>
</div>