h2 I want to back, what’s next?
h3 How can I back this project?
p First, define the value of your contribution and choose a reward. Then click on “Review and make a payment”  to redirect you to the next page to complete your payment.
h3 When is the payment taken?
p Once the MoIP or Paypal confirm the transaction (card and bank transfer confirmation is on the same day, lead slips to 4 working days to be confirmed).
