- backer = @notification.backer
|Dear #{backer.user.name},
br
br
|The project #{link_to(backer.project.name, "#{Configuration[:base_url]}/projects/#{backer.project.to_param}")} that you donated to was partially funded on #{Configuration[:company_name].downcase}!
br
br
|A total of #{backer.project.total_backers} generous donors, raised a total of #{backer.project.display_pledged} for the project. 
br
br
|Please share this with your friends:
br
br
- fb_img = "<img src=\"#{Configuration[:base_url]}/assets/auth/facebook_64.png\" title='Facebook' class='social' />".html_safe
== raw link_to(fb_img, "http://www.facebook.com/share.php?u=#{Configuration[:base_url]}/projects/#{backer.project.to_param}&t=Uhuu! The project '#{backer.project.name}', that I donated to was funded on #{Configuration[:company_name]}!" , :target => :_blank)
- twitter_img = "<img src='#{Configuration[:base_url]}/assets/auth/twitter_64.png' title='Twitter' class='social' />".html_safe
== raw link_to(twitter_img,"http://twitter.com/?status=#{"Uhuu! The project '#{backer.project.name}', that I donated to was funded on @#{Configuration[:twitter_username]}! #{project_by_slug_url(permalink: backer.project.permalink)}"}", :target => :_blank)
br
br
|We are indeed grateful to you for your enthusiastic support which greatly helps to assist those in our community.
br
br
|If you would like to get in touch with the project owner, please send an e-mail to #{mail_to backer.project.user.email}.
br
br
|Also make sure you support us by liking our  #{link_to 'Facebook', Configuration[:facebook_url]} page and following us on #{link_to 'Twitter', "twitter.com/#{Configuration[:twitter_username]}" }. Please also tell your friends and family about Lillah.org!
br
br
|If you have any further questions or require further assistance, please get in touch by replying to this e-mail.
br
br
|Regards,
br
br
|The #{Configuration[:company_name]} Team