- user = @notification.user
|Dear #{user.name},
br
br
|Thank you very much for submitting your charity to #{Configuration[:company_name]}.
br
br
|Unfortunately, after reviewing your charity we feel that it is not suitable for Lillah.org.
br
br
|If you choose to resubmit your charity, please ensure it does not go against guidelines and is described comprehensively and accurately.
br
br
|If you believe your charity has been unfairly dismissed, please reply to this e-mail explaining why you think your charity should go live.
br
br
|If you have any further questions, please get in touch.
br
br
|Regards,
br
br
|The #{Configuration[:company_name]} Team