- project = @notification.project
| Hello,
br
br
| Another project has been created on #{Configuration[:company_name]}!
== " by #{link_to project.user.name, user_url(project.user)}"
br
br
| Project details are as follows:
br
br
b Name of project:
= " #{project.name}"
br
b Goal amount:
= " #{project.display_goal}"
br
b Related projects:
br
= simple_format(project.more_links)
br
b Donors:
br
= simple_format(project.first_backers)
br
= link_to 'See the project', project_by_slug_url(permalink: project.permalink)
br
br
|If you have any further questions or require further assistance, please get in touch by replying to this e-mail.
br
br
|Regards,
br
br
|The #{Configuration[:company_name]} Team
