- user = @notification.user
|Dear #{user.name},
br
br
|Thank you very much for submitting your project to #{Configuration[:company_name]}.
br
br
|Before it goes live, we would like to review your project to ensure it is viable and does not go against our guidelines. We will also scan your project campaign to ensure it is error-free and presentable. Remember, we want your project to be as successful as much as you do!
br
br
|Please note, if you forgot to mention anything important when you submitted your project, you can still edit any aspect of your project while it’s still in draft mode. In addition, if we need to clarify anything regarding the nature of your project, we will be in touch. 
br
br
|In the meantime, take a look at some of the live projects (#{link_to "#{Configuration[:base_url]}/explore" ,"#{Configuration[:base_url]}/explore"}) listed on Lillah to see what makes a successful one.
br
br
|Also make sure you like our  #{link_to 'Facebook', Configuration[:facebook_url]}  page and follow us on #{link_to 'Twitter', "twitter.com/#{Configuration[:twitter_username]}" }. 
br
br
|If you have any further questions or require further assistance, please get in touch by replying to this e-mail.
br
br
|Regards,
br
br
|The #{Configuration[:company_name]} Team