- project = @notification.project
|Dear #{project.user.display_name},
br
br
|Congratulations, your project has been partially funded on #{Configuration[:company_name]}:
br
br
= link_to(project.name, project_by_slug_url(project.permalink))
br
br
|We hope that the funds you have raised on #{Configuration[:company_name]} go a long way in helping your cause and we hope that you have had a pleasing experience on Lillah.
br
br
|As we are a new service dedicated to helping Muslims around the world, we are working daily to improve. Therefore, if you have any specific improvements you would like to see or any other feedback you may want to provide, please reply to this e-mail. 
br
br
|Also make sure you support us by liking our  #{link_to 'Facebook', Configuration[:facebook_url]}  page and following us on #{link_to 'Twitter', "twitter.com/#{Configuration[:twitter_username]}" }. Please also tell your friends and family about Lillah.org!
br
br
|If you have any further questions or require further assistance, please get in touch by replying to this e-mail.
br
br
|Regards,
br
br
|The #{Configuration[:company_name]} Team