- backer = @notification.backer
- project = backer.project

|Dear <strong>#{project.user.display_name}</strong>,
br
br
|You have received a new donation for your project from #{link_to backer.user.display_name, user_url(backer.user)}! 
br
br
|Details:
br
br
|<strong>Donation amount:</strong> #{backer.display_value}
br
br
|<strong>Donor's e-mail address:</strong> #{backer.user.email}
br
br
|See other donors here: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'backers'), project_by_slug_url(permalink: project.permalink, anchor: 'backers')}
br
br
|Post updates: #{link_to project_by_slug_url(permalink: project.permalink, anchor: 'updates'), project_by_slug_url(permalink: project.permalink, anchor: 'updates')}
br
br
|If you have any further questions or require further assistance, please get in touch by replying to this e-mail.
br
br
|Regards,
br
br
|The #{Configuration[:company_name]} Team
