- user = @notification.user
- project = @notification.project
|Dear #{user.name},
br
br
|Congratulations! Your project is now online and is ready to take donations:
br
br
= link_to(project.name, project_by_slug_url(project.permalink))
br
br
|Remember, you’ll need to put a project marketing strategy in place in order to engage as many people as possible.
br
br
|Social media will be an excellent way to raise awareness about your project, so make sure details of your campaign are well communicated online.
br
br
|Also remember to post regular updates regarding the progress of your project. 
br
br
|If you have any further questions or require further assistance, please get in touch by replying to this e-mail.
br
br
|Regards,
br
br
|The #{Configuration[:company_name]} Team