.facebook
  .fb-like data-href=href data-send="false" data-width="#{defined?(width) ? width : '260'}" data-show-faces="true" data-colorscheme="#{defined?(colorscheme) ? colorscheme : 'light'}"
  .fb-share-button style="position: absolute" data-href=href data-type="button_count"